<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Untitled</title>
    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body ng-cloak>
    <!-- sample angular code -->
    <div class="container">
      <div ng-controller="mainController as mainCtrl">
        <p>{{ mainCtrl.greeting }}</p>
      </div>
    </div>
    <!-- scripts -->
    <script type="text/javascript" src="//code.jquery.com/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/config.js"></script>
    <!-- main component -->
    <script type="text/javascript" src="js/components/main/main.controller.js"></script>
  </body>
</html>
