<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Untitled</title>

    <%

    if(props.bootstrap) { %>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <%}
    if(props.normalize) { %>
        <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
    <%}

    %>
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body>
    <%

    if(props.jquery) { %>
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <%}
    if(props.underscore) { %>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <%}
    if(props.bootstrap) { %>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <%}

    %>
    <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>
